.masthead .navigation {
    margin-top: 20px;
}
.navigation {
    width: 1150px;
}

.masthead h2 {
    color: #a87623;
    margin-left: 12px;
}
.jumbotron {
    background-color: #fff;
}

.container {
    background-color: #fff;
}
.navigation .navbar ul li {
    margin-left: 50px;
}
.container .jumbotron h1 {
    color: #a87623 ;
    text-align:center;
}
.jumbotron .btn-buy {
    text-align: center;

}
.jumbotron .btn-group-lg > .btn , .btn-lg {
    padding: 20px 60px;
    font-size: inherit;

}
.content .mid-media {
    text-align: center;
    color: #a87623
}
.content {
    margin-bottom: 50px;
}
.row .col-lg-4 p {
    text-align: center;
    margin-top: 10px;
}
.row .col-lg-4 .img-center {
    text-align: center;
}
.row .col-lg-4 h3 {
    text-align: center;
    color: #a87623 ;
}
.content .row h1, h2 , h3 {
    color:#a87623 ;
}

.content .row img {
    margin-bottom: 20px;
    margin-top: 20px;
}
.content .row .cont {
    margin-bottom: 50px;
}

.row .about-hotel 
{
    margin-top: 20px;
    font-size: 20px;
}
