{% extends 'main-for-all-pages.html' %}
{% load staticfiles %}
{% block content %}
        <div class="content">
            <table border="2" width="600px;" class="table_stile text-center" >
                <tr class="tr_stile" >
                    <th style="padding: 10px;"><p>дата</p></th>
                    {% for char in date %}
                            <th style="padding: 10px;"><p>{{ char }}</p></th>
                    {% endfor %}

                </tr>
                <tr>
                    <th style="padding: 10px"><p>время</p></th>
                    {% for char in time %}
                        <th style="padding: 10px;"><p>{{ char }}</p></th>
                    {% endfor %}

                </tr>
                <tr>
                    <th style="padding: 10px; "><p>Текст</p></th>
                    {% for char in text %}
                        <th style="padding: 10px;"><p>{{ char }}</p></th>
                    {% endfor %}

                </tr>

            </table>
            <hr/>






        </div>
{% endblock %}