{% extends 'main-for-all-pages.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h1 class="text-center">Turkey</h1>
            <p class="text-center"><img class="img-circle" src="{% static 'img/turkey.jpg' %}" alt="" width="400" height="300px"/></p>
            <h3 class="text-center">5* Hotel "Botanil lara"</h3>
            <ul class="text-center about-hotel">
                <li>Free Wi-fi</li>
                <li>Breakfast</li>
                <li>swimming pool</li>
                <li>a large bed</li>
                <h3 class="text-center">Price : 799$/7 days</h3>
            </ul>
        </div>

        <div class="col-lg-6">
            <h1 class="text-center">Japan</h1>
            <p class="text-center"><img class="img-circle" src="{% static 'img/japan.jpg' %}" alt="" width="400px" height="300px"/></p>
            <h3 class="text-center">5* Hotel "Azuma Takuma"</h3>
            <ul class="text-center about-hotel">
                <li class="text-center">Free Wi-fi</li>
                <li>Breakfast</li>
                <li>swimming pool</li>
                <li>a large bed</li>
                <h3 class="text-center">Price : 1099$/7 days</h3>
            </ul>
        </div>
    </div>
{% endblock %}